<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ZRTUDF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <ZRTUDF.Properties.Settings>
            <setting name="drtp_main" serializeAs="String">
                <value>188.188.81.131</value>
            </setting>
            <setting name="port_main" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="node_main" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="drtp_vip" serializeAs="String">
                <value>188.188.81.131</value>
            </setting>
            <setting name="port_vip" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="node_vip" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="drtp_test" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="port_test" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="node_test" serializeAs="String">
                <value>610</value>
            </setting>
            <setting name="funcno_main" serializeAs="String">
                <value>605</value>
            </setting>
            <setting name="funcno_vip" serializeAs="String">
                <value>1600</value>
            </setting>
            <setting name="funcno_test" serializeAs="String">
                <value>1180</value>
            </setting>
            <setting name="branch_code" serializeAs="String">
                <value>000</value>
            </setting>
            <setting name="maxnodes" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="emp_code" serializeAs="String">
                <value />
            </setting>
        </ZRTUDF.Properties.Settings>
    </applicationSettings>
</configuration>
