<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="maxnodes" value="3"/>
    
    <!--DRTP主系统-->
    <add key ="drtp_main" value="188.188.81.131"/>
    <add key ="port_main" value="6000"/>
    <add key ="node_main" value="600"/>
    <add key ="funcno_main" value="605"/>

    <!--DRTP快订-->
    <add key ="drtp_vip" value="188.188.81.131"/>
    <add key ="port_vip" value="6000"/>
    <add key ="node_vip" value="600"/>
    <add key ="funcno_vip" value="1600"/>

    <!--DRTP测试-->
    <add key ="drtp_test" value="10.10.12.31"/>
    <add key ="port_test" value="5000"/>
    <add key ="node_test" value="610"/>
    <add key ="funcno_test" value="1180"/>

    <!--通用-->
    <add key ="branch_code" value="000"/>
    <add key ="emp_code" value="009995"/>
  </appSettings>
</configuration>